In [1]:
print('hello world')

hello world

In [57]:
from random import random, randint
lista = [0,1,2]
i = 0
j=0
for i in range(100):
    j=+1
    lista.append(randint(-100,100)+random())

In [58]:
Thiago,Mateus,Rafael = 0,0,0
lista1 = ['Thiago','Mateus','Rafael']
createlist(Thiago,-20,20)
createlist(Mateus,-50,50)
createlist(Rafael,-40,100)
arranjo = [Thiago,Mateus,Rafael]

In [59]:
print(Thiago)

0

In [60]:
import pandas as pd

In [65]:
pd.DataFrame(lista,lista)

                    0
 0.000000    0.000000
 1.000000    1.000000
 2.000000    2.000000
-81.753207 -81.753207
-4.737156   -4.737156
...               ...
 76.646729  76.646729
-87.779195 -87.779195
 65.879362  65.879362
 77.948768  77.948768
 80.281744  80.281744

[103 rows x 1 columns]